Hotels.XSD

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://kyledotzip.github.io/cse445-a4">
<xsd:element name="Hotels">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="Hotel" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string"/>
                        <xsd:element name="Phone" type="xsd:string" maxOccurs="unbounded"/>
                        <xsd:element name="Address">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Number" type="xsd:string"/>
                                    <xsd:element name="Street" type="xsd:string"/>
                                    <xsd:element name="City" type="xsd:string"/>
                                    <xsd:element name="State" type="xsd:string"/>
                                    <xsd:element name="Zip" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Rating" type="xsd:decimal" minOccurs="0"/>
                        <xsd:element name="NearestAirport" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>



